@model IEnumerable<EllepolEnt.Models.ItemReg>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saleprice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saleprice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.itemid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.itemid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.itemid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
