@model IEnumerable<EllepolEnt.Models.PumpManagement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pumpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRNID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cashIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ltrs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pumpID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRNID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cashIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ltrs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
