@model EllepolEnt.Models.StockOut

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockOut</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stockoutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stockoutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stockout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stockout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockoutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockoutPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Stock_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
